#header {
    background-color: #e5e5e5;
    padding: 30px 115px 0px 115px;
    border: solid 2px;
}

#headernav {
    background-color: white;
    padding: 2px;
    border: groove #ffffff73;
}

.conteinerimagen {
    max-width: 85%;
    max-height: 15%;
    display: inline-flex;
}

.imagenlogo {

}

.logo {
    width: 32%;
    padding-left: 100px;
    cursor: pointer;
}

#navopciones {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 710px;
    font-size: medium;
}

#conteiner {
    background-color: white;
    height: 75%;
    border: groove #ffffff73;
    border-top-width: 0px;
}

.home {
    width: 120px;
    
}

.servicios {
    width: 130px;

}

.socios {

}

strong:hover {
    color: #ea48a6;
}

.seccionhome {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.seccionservicios {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.seccionsocios {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}




    {}