#header {
    background-color: #e5e5e5;
    padding: 30px 115px 0px 115px;
    border: solid 2px;
    border-color: #ffffff73 ;
}

#headernav {
    background-color: white;
    padding: 2px;
    border: groove #ffffff73;
}

.conteinerimagen {
    max-width: 85%;
    max-height: 15%;
    display: inline-flex;
}

.logo {
    width: 32%;
    padding-left: 100px;
    cursor: pointer;
}

#navopciones {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 710px;
    font-size: medium;
}

#conteiner {
    background-color: white;
    height: 75%;
    border: groove #ffffff73;
    border-top-width: 0px;
}

.servicios {
    width: 120px;

}

.contratar {
    width: 131px;

}

.socios {
    padding-right: 50px;
}

strong:hover {
    color: #ea48a6;
}

.seccionservicios {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.seccioncontratar {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.seccionsocios {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

#portada {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border: groove #ffffff73;
    border-top: 0px;
}

#infoservicios {
    width: 30%;
}

.tituloservicios {
    font-size: x-large;
    color: #000000b5;
}

.informacionservicios {
    width: 81%;
    font-size: large;
    color: #00000094;
}

.botoncontrato {
    border-radius: 12px;
    border-color: #ea48a6;
    background-color: #ea48a6;
    color: white;
    width: 90px;
}

.botoninfo {
    border-radius: 12px;
    border-color: #ea48a6;
    background-color: #ea48a6;
    color: white;
    width: 90px;
}

.imagenpet911 {
    max-width: 22%;
}

.botoncontrato:hover {
    cursor: pointer;
    color: #ea48a6;
    background-color: white;
}

.botoninfo:hover {
    cursor: pointer;
    color: #ea48a6;
    background-color: white;
}

#textoinformativo {
    background-color: #ffffff;
    border: groove #ffffff73;
    border-top: 0px;
    height: 30%;
    display: flex;
    justify-content: center;
}

.textoinfo {
    margin-top: 0px;
    color: #00000094;
    width: 56%;
    text-align: center;
    font-size: large;
    margin-top: 55px;
}

#Beneficios {
    background-color: #ffffff;
    text-align: center;
    border: groove #ffffff73;
    border-top: 0px;
    border-bottom: 0px;
    height: 60%;
}

#beneficiosinicio {
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulobenef {
    margin-top: 0px;
    color: #000000c9;
    font-size: x-large;
}

.subtitulobenef {
    color: #00000094;
    font-size: large;
}

.titulo {
    color: #000000c9;
}

.parrafo {
    color: #00000094;
}

#Beneficioscards {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.Cajabeneficios1 {
    display: flow;
    max-width: 26%;
    padding: 0px 15px 0px 15px;
}

.Cajabeneficios2 {
    display: flow;
    max-width: 26%;
    padding: 0px 15px 0px 15px;
}

.Cajabeneficios3 {
    display: flow;
    max-width: 26%;
    padding: 0px 15px 0px 15px;
}

#Beneficioscards img {
    max-width: 22%;
}

#Beneficioscards p {
    font-size: medium;
}

#Beneficiosboton {
    background-color: #ffffff;
    text-align: center;
    border: groove #ffffff73;
    border-top: 0px;
}

.botoninfobenefecios {
    border-radius: 12px;
    border-color: #ea48a6;
    background-color: #ea48a6;
    color: black;
    width: 14%;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 9px;
}

.botoninfobenefecios:hover {
    cursor: pointer;
    color: #ea48a6;
    background-color: white;
}

.infocontacto {
    width: 30%;
}

#sedes {
    display: flex;
    flex-direction: row;
}

.datos {
    color: black;
    display: flex;
}

.datos a {
    color: black;
}

.fa-solid {
    margin-right: 8px;
    display: flex;
}

.datos a:hover {
    color: #ea48a6;
}

.imgcontacto {
    filter: sepia();
    height: 73%;
    margin: 23px;
}

#iconos {
    display: table-cell;
    padding: 7px;
}

#contactos {
    background-color: #ffffff;
    text-align: center;
    border: groove #ffffff73;
    border-top: 0px;
    height: 45%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer {
    background-color: #ffffff;
    text-align: center;
    border: groove #ffffff73;
    border-top: 0px;
    border-bottom: 0px;
    height: 20%;
}

.logofooter {
    width: 7%;
}

.container-fluid {
    display: none;
}

.bg-light button {
    display: none;
}

/* Estilos para pantallas medianas */

@media screen and (max-width: 1023px) and (min-width: 768px) {}





/* Estilos para pantallas chicas */

@media screen and (max-width: 767px) {

    #header {
        padding: 0px;
        border: 0px;
    }

    #navopciones {
        display: none;
    }

    .collapse {
        display: none;
    }

    .logo {
        width: 30%;
        padding: 2px 13px;
    }

    .imagenpet911 {
        display: none;
    }

    #infoservicios {
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        padding-left: 18px;
        display: inline-table;
    }

    .textoinfo {
        width: 91%;
        margin-top: 30px;
    }

    #beneficiosinicio {
        padding-top: 14px;
        padding-bottom: 12px;
    }

    #Beneficios {
        height: 100%;
    }

    #Beneficioscards {
        width: 327%;
        max-width: 332%;
        display: flow;
    }

    .Cajabeneficios1 {
        max-width: 26%;
        padding: 15px 15px 15px 15px;

    }

    .botoninfobenefecios {
        width: 28%;
    }

    .botoncontrato {
        margin-right: 17px;
    }

    .botoninfo {
        margin-right: 20px;
    }

    #contactos {
        height: 49%;
    }

    .infocontacto h1 {
        justify-content: center;
    }

    .infocontacto p {
        justify-content: center;
    }

    .datos {
        display: flex;
        justify-content: center;
    }

    .imgcontacto {
        height: 38%;
    }

    .infocontacto {
        width: 62%;
    }

    .logofooter {
        width: 30%;
    }

}